<!-- 今日诗词 -->
<h5 display="none">一诗</h5>
<ul class="list-inline">
	<span id="jinrishici-sentence">:D 获取中...</span>
	<script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>
</ul>