<!-- Friends Blog -->
<% if(config.friends) { %>
<h5 display="none">朋友们</h5>
<ul class="list-inline">

    <% config.friends.forEach(function(friend){ %>
        <li><a href="<%= friend.href %>" target="_blank"><%= friend.title %></a></li>
    <% }); %>
</ul>
<% }%>