<div class="search bar1">
		<script type="text/javascript">
			function test(){
				var f = document.getElementsByTagName("form")[0];
				f.action=f.action+" "+document.getElementById("word").value;
			}
		</script>
		<form name = "dsadsa" action = "https://www.dogedoge.com/results?q=site%3A<%=config.url%>" method = "post">
			<input type="text" placeholder="查找..." id = "word">
			<button type="submit" onClick="test()"></button>
		</form>
	</div>
<!-- https://www.dogedoge.com/results?q=site%3Atyzhang.top+ -->