<!-- Friends Blog -->
<% if(config.friends) { %>
<h5 display="none">服务</h5>
<ul class="list-inline">
    <li><a href="https://pic.tyzhang.top" target="_blank">如云图床</a></li>
</ul>
<ul class="list-inline">
    <li><a href="https://ztygalaxy.github.io/Hello_HDU" target="_blank">Hello_HDU</a></li>
</ul>
<% }%>